# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [8]:
print("FAiq",100,True,8.9)

FAiq 100 True 8.9

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [9]:
print("FAiq",100,True,8.9,sep='-')

FAiq-100-True-8.9

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [11]:
print("FAiq",end=' ')
print(100,end=' ')
print(True,end=' ')
print(8.9)

FAiq 100 True 8.9

4) Can a python print function take no value to print???

In [13]:
# Yes

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [47]:
friend_name='Ahmed'
age=30
profession='lawyer'
qualification='LLB'
experience='The Himalya Associates'
height=5.10
weight_in_grams=70600
monthly_income=200000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [24]:
bachelor_year=2005
current_year=2024
years_after_passout=current_year-bachelor_year
print(years_after_passout)

19

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [25]:
working_experience=2015
current_year=2024
years_working_experience=current_year-working_experience
print(years_working_experience)

9

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [41]:
monthly_income=200000
monthly_income_dollar=monthly_income//277
print(monthly_income_dollar)

722

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [42]:
type(monthly_income_dollar)

int

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [49]:
type(weight)
weight_in_kg=weight_in_grams//1000
print(weight_in_kg)

70

In [52]:
#11) print the year of birth of Mr. Ahmed.

In [51]:
#type your code here
birth_year = current_year - age
birth_year

1994

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

In [ ]:
10%2
# 10 is completely divisible by2
# 10 is multiple of 2
# 2 is a factor of 10
# 10 comes in table of 2

0

In [55]:
# Yes

True